# Feature Engineering â€” Hotel Booking Analysis

This notebook creates new analytical features for EDA and dashboards.

In [ ]:
#Load the final cleaned dataset
import pandas as pd 

df=pd.read_csv("../data/python_cleaned/hotel_bookings_cleaned_final.csv")
df.shape

C:\Users\allur\AppData\Local\Temp\ipykernel_10008\1113018123.py:3: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("../data/python_cleaned/hotel_bookings_cleaned_final.csv")

(87486, 33)

In [7]:
#Create key features

#Total Guests
df['total_guests']=df['adults']+df['children']+df['babies']

#Total nights (alraedy present, but verify)
df['total_nights'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']

#Arrival date (convert date to datetime)
df['arrival_date'] = pd.to_datetime(
    df['arrival_date_year'].astype(str) + "-" +
    df['arrival_date_month'].astype(str) + "-" +
    df['arrival_date_day_of_month'].astype(str),
    errors='coerce'
)


#Booking Month/Year
df['arrival_month']=df['arrival_date'].dt.month
df['arrival_year']=df['arrival_date'].dt.year

#Family Flag
df['is_family']=(df['children']+df['babies']>0).astype(int)


#Revenue estimate (simple): adr * nights
df['revenue']=df['adr'] * df['total_nights']
df.loc[df['is_canceled'] == 1,"revenue"] = 0

In [8]:
#Validate new features
df[['total_guests','total_nights','arrival_date','is_family','revenue']].describe(include='all')

,total_guests,total_nights,arrival_date,is_family,revenue
count,87486.000000,87486.000000,87486,87486.000000,87486.000000
mean,2.024941,3.631530,2016-09-14 20:31:23.327618048,0.104062,262.928467
min,0.000000,0.000000,2015-07-01 00:00:00,0.000000,-63.800000
25%,2.000000,2.000000,2016-04-01 00:00:00,0.000000,0.000000
50%,2.000000,3.000000,2016-09-20 00:00:00,0.000000,168.000000
75%,2.000000,5.000000,2017-04-01 00:00:00,0.000000,378.000000
max,55.000000,69.000000,2017-08-31 00:00:00,1.000000,7590.000000
std,0.794114,2.763895,NaN,0.305343,332.225080

In [9]:
#Check for missing values
df['arrival_date'].isna().sum()

np.int64(0)

In [10]:
#Save the featured dataset
df.to_csv("../data/python_cleaned/hotel_bookings_features.csv", index=False)